<div class="padding-vertical-small bg-light-muted rounded-sm">
  {{yield}}
  <div class="my-2">
    {{#if @model.renderUntil}}
      <div><span class="bold">until: </span>{{@model.until}}</div>
      <div><span class="bold">id: </span>{{@model.id}}</div>
    {{/if}}
  </div>
  <section>
    {{markdown-to-html @model.content}}
  </section>
</div>