<div class="search-input">
  <label class="visually-hidden" for="search-input">Search</label>
  <input
    id="search-input"
    type="search"
    value={{value}}
    placeholder="Search deprecations"
    autocomplete="off"
    aria-label="Search"
    {{on "input" (perform this.searchService.search value="target.value")}}
  >
</div>

{{!-- Search results dropdown --}}
{{#ember-tether
  target="#search-input"
  targetAttachment="bottom left"
  attachment="top left"
  constraints=_resultTetherConstraints
  class="ds-dropdown-results"
}}
  {{#if this.searchService.searchResults.hits}}
    <span class="ds-suggestions ds-dropdown-menu">
      <div class="ds-suggestion">
        <div class="algolia-docsearch-suggestion algolia-docsearch-suggestion__main">
          <div class="algolia-docsearch-suggestion--category-header">
            <span class="algolia-docsearch-suggestion--category-header-lvl0">
              Search Results
            </span>
          </div>
          <div class="algolia-docsearch-suggestion--wrapper"></div>
        </div>
      </div>
      {{#each this.searchService.searchResults.hits as |result|}}
        <SearchResult @result={{result}} />
      {{/each}}
      <div class="powered-by-algolia">
        <a href="https://www.algolia.com/" target="_blank">
          <img src="/images/search-by-algolia.svg" alt="Search Powered by Algolia">
        </a>
      </div>
    </span>
  {{/if}}
{{/ember-tether}}
