{{#cp-panels accordion=true as |panels|}}
  {{#each sortedGroupedResults as |result|}}
    {{#panels.panel as |panel|}}
      {{#panel.toggle}}
        <li class="level-1">
          <a class="slide-widget-head" href="#toc toc_deprecations-added-in-ember-2-x">
            Deprecations added in {{result.since}}
          </a>
        </li>
      {{/panel.toggle}}
      {{#panel.body}}
        <ol style="display:block">
          {{#each result.contents as |content|}}
            <li class="level-3">
              <a href="#{{id-for-deprecation content.id}}">
                {{content.title}}
              </a>
            </li>
          {{/each}}
        </ol>
      {{/panel.body}}
    {{/panels.panel}}
  {{/each}}
{{/cp-panels}}