{{#cp-panels accordion=true as |panels|}}
  <div class="large padding-bottom-small">
    Jump to:
  </div>
  {{#each sortedGroupedResults as |result|}}
    {{#panels.panel as |panel|}}
      {{#panel.toggle}}
        <li class="level-1 list-unstyled">
          <a class="slide-widget-head large" href="#toc toc_deprecations-added-in-ember-2-x">
            {{result.since}}
          </a>
        </li>
      {{/panel.toggle}}
      {{#panel.body}}
        <ol class="list-unstyled" style="display:block">
          {{#each result.contents as |content|}}
            <li class="level-3 list-unstyled">
              <a href="#{{id-for-deprecation content.id}}">
                {{content.title}}
              </a>
            </li>
          {{/each}}
        </ol>
      {{/panel.body}}
    {{/panels.panel}}
  {{/each}}
{{/cp-panels}}