{{set-body-class "deprecations deprecations_v2 responsive"}}

{{#es-header}}

 {{#es-navbar}}
    <form class="search-form">
      {{search-input}}
    </form>
  {{/es-navbar}}
{{/es-header}}

<div id="content-wrapper" class="content-wrapper">
  {{outlet}}
</div>

{{es-footer}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/custom-elements/1.0.0/custom-elements.min.js"></script>
