<!--[if lt IE 9]>
  <script type="text/javascript" src="/javascripts/common-old-ie-24eb8a55.js"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
<!--<![endif]-->
{{set-body-class "deprecations deprecations_v2 responsive"}}

{{#es-header}}
  {{#es-navbar links=links}}
    <form>
      {{search-input projectVersion='v3.0.0'}}
    </form>
  {{/es-navbar}}
{{/es-header}}

<div id="content-wrapper" class="content-wrapper">
  {{outlet}}
</div>

{{main-footer}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/custom-elements/1.0.0/custom-elements.min.js"></script>
