<EsHeader>
  <form class="search-form">
    <SearchInput />
  </form>
</EsHeader>

<main>
  <div class="container">
    {{outlet}}
  </div>
</main>

<EsFooter />

<script src="https://cdnjs.cloudflare.com/ajax/libs/custom-elements/1.0.0/custom-elements.min.js"></script>
