{{set-body-class "deprecations deprecations_v2 responsive"}}

<ESHeader>
  <ESNavBar>
    <form>
      <SearchInput />
    </form>
  </ESNavBar>
</ESHeader>

<div id="content-wrapper" class="content-wrapper">
  {{outlet}}
</div>

<ESFooter />

<script src="https://cdnjs.cloudflare.com/ajax/libs/custom-elements/1.0.0/custom-elements.min.js"></script>
