<!--[if lt IE 9]>
  <script type="text/javascript" src="/javascripts/common-old-ie-24eb8a55.js"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
<!--<![endif]-->

<header class="header">
  {{navigation-header}}
</header>

<div id="content-wrapper">
  {{outlet}}
</div>

<div class="footer">
  {{navigation-footer}}
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/custom-elements/1.0.0/custom-elements.min.js"></script>
