<div class="main" id="content" role="main">
  <h2>Filter deprecations by version range</h2>

  <span id="select-to">
    From:
    {{#x-select data-test-select-from=true value=selectedFrom action=(action (mut from)) as |xs|}}
      {{#each fromVersions as |version|}}
        {{#xs.option value=version}}
          {{version}}
        {{/xs.option}}
      {{/each}}
    {{/x-select}}
  </span>

  <span id="select-to">
    To:
    {{#x-select data-test-select-to=true value=selectedTo action=(action (mut to)) as |xs|}}
      {{#each toVersions as |version|}}
        {{#xs.option value=version}}
          {{version}}
        {{/xs.option}}
      {{/each}}
    {{/x-select}}
  </span>

  {{#each filteredDeprecations as |deprecation|}}
    {{deprecation-article
      data-test-deprecation-article=true
      model=deprecation
      renderIdOrUntil=deprecation.until
    }}
  {{/each}}
</div>
