<div class="main">
  From:
  {{#x-select data-test-select-from=true value=selectedFrom action=(action (mut from)) as |xs|}}
    {{#each fromVersions as |version|}}
      {{#xs.option value=version}}
        {{version}}
      {{/xs.option}}
    {{/each}}
  {{/x-select}}

  To:
  {{#x-select data-test-select-to=true value=selectedTo action=(action (mut to)) as |xs|}}
    {{#each toVersions as |version|}}
      {{#xs.option value=version}}
        {{version}}
      {{/xs.option}}
    {{/each}}
  {{/x-select}}

  Number of deprecations: {{filteredDeprecations.length}}

  {{#each filteredDeprecations as |deprecation|}}
    {{deprecation-article
      data-test-deprecation-article=true
      model=deprecation
      renderIdOrUntil=deprecation.until
    }}
  {{/each}}
</div>
