{{page-title @model.title}}
<LinkTo @route="index">&laquo; All deprecation guides</LinkTo>
<h1>
  Deprecation Guide for
  {{markdown-to-html
    @model.title
    extensions="no-wrapper"
    tagName=""
  }}
</h1>
<DeprecationArticle @model={{@model}} />

{{outlet}}