<div id="content" class="main" role="main">
  <h1 class="anchorable-toc" id="toc_deprecations">Deprecations</h1>
  <p>
    Periodically, various APIs in Ember.js may be deprecated. During a minor
    release, for instance when upgrading from version 1.9 to 1.10, you may see new
    deprecations fire in your codebase. Until a major revision such as 2.0 lands,
    code firing such deprecations is still supported by the Ember community. After
    the next major revision lands, the supporting code may be removed. This style
    of change management is commonly referred to as <a href="http://semver.org/">Semantic Versioning</a>.
  </p>
  <p>
    You can use newer versions of the CLI with older Ember apps. It"s a good
    idea to resolve deprecations as they arise so that when a major version is
    available, it"s easier to upgrade your app. For some significant changes,
    codemods may be available, so check out
    <a href="https://emberjs.com/blog/">
      Release Blog Posts
    </a>
    before you dive in.
  </p>

  <h3 class="anchorable-toc" id="toc_ember">Versions</h3>
  <ul class="ember-version-graphics">
    <li class="item">
      <EmberVersionGraphic @mascot="tomster-deprecated" @text="1.x" />

      <ul class="links">
        <li><LinkTo @route="ember" @model="v1.x">Ember</LinkTo></li>
      </ul>
    </li>
    <li class="item">
      <EmberVersionGraphic @mascot="tomster-lts" @text="2.x" />
      {{ember-version-graphic mascot="tomster-lts" text="2.x"}}

      <ul class="links">
        <li><LinkTo @route="ember" @model="v2.x">Ember</LinkTo></li>
        <li><LinkTo @route="show" @models={{array "ember-data" "v2.x"}}>Ember Data</LinkTo></li>
        <li><LinkTo @route="show" @models={{array "ember-cli" "v2.x"}}>Ember CLI</LinkTo></li>
      </ul>
    </li>
    <li class="item">
      <EmberVersionGraphic @mascot="zoey" @text="3.x" />

      <ul class="links">
        <li><LinkTo @route="ember" @model="v3.x">Ember</LinkTo></li>
      </ul>
    </li>
  </ul>
</div>
