<div id="sidebar" class="sidebar" role="complementary">
  {{table-of-contents sortedGroupedResults=sortedGroupedResults}}
  <div id="back-to-top"><a id="back-top-top" href="#">&#11014; Back to Top</a></div>
</div>

<div class="main has-sidebar" id="content" role="main">
  <h2>Deprecations Added in Ember 2.x</h2>
  <p>What follows is a list of deprecations introduced to Ember.js during the 2.x
  cycle.</p>
  <p>For more information on deprecations in Ember, see the <a href="/deprecations">main deprecations page</a>.</p>

  {{#each sortedGroupedResults as |result|}}
    <h3 class="anchorable-toc">Deprecations Added in {{result.since}} </h3>
      {{#each result.contents as |content|}}
        {{deprecation-article model=content}}
      {{/each}}
  {{/each}}
</div>
