<h2 class="anchorable-toc" id="toc_deprecations-added-in-ember-2-x"><a class="toc-anchor" href="#toc_deprecations-added-in-ember-2-x"></a>Deprecations Added in Ember 2.x</h2>
<p>What follows is a list of deprecations introduced to Ember.js during the 2.x
cycle.</p>
<p>For more information on deprecations in Ember, see the <a href="/deprecations">main deprecations page</a>.</p>

{{#each model as |deprecation|}}
  {{deprecation-article model=deprecation}}
{{/each}}
